.wrapper {
    .box {
        .main-structure {
            background-color: #e6e6e6;
            display: flex;

            .main {
                border: 2px solid black;
                // width: 1184px;
                width: 100%;
            }
        }
    }
}