.wrapper {
    .box {
        .main-structure {
            background-color: #f7f8f9;
            display: flex;


            app-dashboard {
                width: 100%;
                height: 100%;
            }
        }
    }
}