<div class="wrapper">
    <div class="logo">
        <h1>Logo Here</h1>
        <p>Your Career Starts Here</p>
        <app-login></app-login>
        <!-- <app-reset-password></app-reset-password> -->
        <!-- <app-otp-code></app-otp-code> -->
        <!-- <app-signup></app-signup> -->
        <!-- <app-create-password></app-create-password> -->
        <!-- <app-change-password-success></app-change-password-success> -->
        <!-- <app-review-us></app-review-us> -->
    </div>
    <app-footer></app-footer>
</div>