.wrapper {
    // background-color: rgb(208, 255, 241);
    width: 100%;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    // border: 1px solid black;

    .post-a-job {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 56px;
        

        .user-data {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            
            height: 100%;
            color: #252525;


            p {
                font-size: 24px;
            }
        }

        button {
            width: 163px;
            height: 100%;
            border-radius: 12px;
            background-color: #4077FF;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            color: white;
            font-size: 16px;
        }
    }


    .job-data {
        height: 142px;
        width: 100%;
        display: flex;
        gap: 12px;


        div {
            height: 100%;
            background-color: white;
            border-radius: 16px;
            border: 1px solid black;
            flex-grow: 1;
        }
    }
    
}